<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Branch</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through branches and display links -->
    <tr th:each="branch : ${branches}">
        <td><a th:href="@{/branch/{branchName}(branchName=${branch})}" th:text="${branch}"></a></td>
    </tr>
    </tbody>
</table>
</body>

<!-- Display a table of branches with links to branch pages --
